/* Policy css start */
.top-policy-margin {
    margin-top: 30px;
  }
  .policies p {
    margin-bottom: 12px;
  }
  .privacy-policy-intro-list {
    list-style-type: decimal;
    padding-left: 20px;
  }
  .privacy-policy-intro-list li {
    margin-bottom:8px;
    gap: 12px;
    font-weight: 400;
  }
  .privacy-policy-intro-list li a {
    color: #3B82F6;
  }
  .privacy-policy-intro-list li a:hover {
    color: #101010;
  }
  .section-start {
    margin-top: 2.8rem;
    margin-bottom: 1rem;
  }
  .policy-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #101010;
  }
  .privacy-policy-intro-list2 {
    list-style-type: decimal;
    padding-left: 20px;
  }
  .privacy-policy-intro-list2 li::marker {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
  }
  .unordered-listtt li::marker {
    font-size: 1rem;
  }
  .policy-list-items li h4 {
    font-size: 24px;
    font-weight: 600;
    color: #101010;
    margin-bottom: 15px;
  }
  .unordered-listtt {
    list-style-type: disc;
    padding-left: 22px;
  }
  .policy-section-list {
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .policy-section-list li {
    padding-top: 10px;
  }
  .policy-section-list p {
    margin-bottom: 0px !important;
  }
  .policy-section-list h5 {
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
  }
  .policies-section {
    margin-bottom: 30px;
  }
  .policies-footer {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
  }
  .policies-footer a {
    color: #3B82F6;
    padding-left: 5px;
    padding-right: 5px;
  }
  .policies-footer a:hover {
    color: #101010;
  }
  .terms-ssection-1 {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .terms-section-1 h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 25px;
    padding-bottom: 20px;
  }
  .font-weight-600 {
    font-weight: 600 !important;
  }
  .privacy-policy-intro-list2 ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .privacy-policy-intro-list2 ol li::marker {
    font-size: 1rem;
    color: #333;
  }
  .policy-note {
    font-weight: 700;
    font-size: 18px;
    padding-top: 20px;
  }
  .initiatives-section {
    padding-bottom: 25px;
  }
  .initiatives-section h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
  }
  .policy-content p {
    text-align: justify !important;
  }
  .policy-content li {
    text-align: justify !important;
  }
  @media (max-width: 400px) {
    .policy-content li {
      text-align: left !important;
    }
  }